[Desktop Entry]
Type=Application
Name=DOSBox
Comment=Run old DOS applications
Comment[ca]=Executeu antigues aplicacions DOS
Comment[cs]=Spouštění starých DOSových aplikací
Comment[de]=Ein Emulator für alte DOS Programme
Comment[es]=Un emulador para ejecutar antiguas aplicaciones DOS
Comment[nl]=Een simulator om oude DOS-spellen te spelen
Comment[ru]=Запуск старых DOS-приложений
Comment[it]=Un emulatore per far girare vecchi giochi DOS
Comment[ua]=Запуск старих DOS-застосувань
Icon=com.dosbox.DOSBox
Exec=run-dosbox
Terminal=false
Categories=Game;Emulator;
Keywords=DOS;Emulator;
